:root {
  --theme-color: #791e94;
}

.header-container {
  text-align: center;
  width: 100%;
  margin-top: 20px;
}

.header {
  text-align: center;
  width: 80%;
  margin: auto;
  text-align: center;
}

.menu-separator {
  font-weight: bold;
}

.header-block {
  display: block;
}

.logo {
  width: 128px;
  height: 128px;
  border-radius: 50%;
}

.site-title {
  font-size: 2em;
  display: inline-block;
}

.brand {
  border-bottom: none !important;
}

/* Timeline */

.timeline {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  padding: 0 2em 0 2em;
}

.timeline-name {
  display: inline-block;
  margin: 0 auto;
  width: fit-content;
  text-align: center;
}

.timeline-name:hover {
  margin-top: 5px;
}

.timeline-name div {
  text-align: center;
}

.timeline-item {
  flex-grow: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline-item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 4vw;
  transform: translateY(-50%);
  height: 2px;
  background-color: var(--theme-color);
  z-index: -1;
}

.timeline-item::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 4vw;
  transform: translateY(-50%);
  height: 2px;
  background-color: var(--theme-color);
  z-index: -1;
}

.timeline-item:last-of-type::after, .timeline-item:first-of-type::before {
  display: none;
}

.timeline-btn {
  margin: 0 1vw;
  background: unset;
  border: unset;
  font-weight: bold;
  font-size: large;
  color: var(--theme-color);
}

.timeline-btn:hover {
  cursor: pointer;
}

.timeline-btn:disabled {
  display: none;
}

.timeline-line {
  width: 100%;
  max-width: 200px;
  height: 2px;
  background-size: 5px;
  background-color: var(--theme-color);
  flex-grow: 1;
  margin: 0 5px 0 5px;
}

/* Maps */

.mapMarker {
  font-size: 25px;
}

#worldmap {
  height: 500px;
  margin: 40px auto 0 auto;
}

#map {
  height: 500px;
  margin: 40px auto 0 auto;
}

/* Gallery */

.gallery-header {
  border-style: solid;
  padding: 0 2em 0 2em;
  width: fit-content;
  margin: 2em auto 2em auto;
}

.gallery-title {
  text-align: center;
  font-size: 2em;
  font-weight: normal;
}

.gallery-date {
  text-align: center;
  font-size: 0.8em;
  font-weight: normal;
}

.gallery-photo-container {
  padding: 20px;
}

.gallery-photo {
  overflow: hidden;
  position: relative;
  height: 400px;
  width: 100%;
  transition: transform 0.2s;
}

.gallery-photo:hover,
.gallery-photo:active {
  transform: scale(1.02);
}

.gallery-photo img {
  max-height: 200%;
  position: absolute;
  top: -100%;
  left: -100%;
  right: -100%;
  bottom: -100%;
  margin: auto;
  object-fit: cover;
}

.gallery-photo-do-not-zoom img {
  max-height: 100%;
}

.footer {
  text-align: center;
}

.page-item {
  margin-left: 5px;
  margin-right: 5px;
  font-size: large;
}

/** Post **/

.section-title {
  font-weight: normal;
  padding-left: 20px;
  padding-top: 20px;
}

.post-title {
  font-weight: normal;
  text-align: center;
}

.post-date {
  font-weight: normal;
  text-align: center;
  font-size: medium;
}

.post-thumbnail-title {
  position: absolute;
  bottom: 0;
  width: 80%;
  background-color: white;
  margin-left: 10%;
  padding: 2vh 0;
  padding: 10px;
}

.post-image {
  max-height: 95lv;
  max-width: 95%;
  display: block;
  margin: auto;
  margin-bottom: 10px;
}

#content {
  display: block;
  margin: auto;
  width: 50%;
}

@media (max-width: 900px) {
  #content {
    width: 90%;
  }
}

/** Pagination **/

.pagination {
  text-align: center;
  list-style: none;
  padding: 0;
}

.pagination li {
  display: inline;
}

.page-item.disabled a {
  display: none;
}

.page-item.active {
  font-weight: bold;
}

/** Global settings **/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover,
a.active {
  border-bottom: 5px solid var(--theme-color);
}

/** Font setting **/

body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
}
