{{ define "main" }}
  {{ $pins := slice }}
  {{ $timeline := slice }}
  {{ range $i, $val := (where (where .Site.Pages.ByDate "Type" "trip") "BundleType" "branch") }}
    {{ $showOnWorldMap := (default "true" $val.Params.showOnWorldMap) }}
    {{ if $showOnWorldMap }}
      {{ $pins = $pins | append (dict "latlon" $val.Params.latlon "locationEmoji" $val.Params.locationEmoji ) }}
      {{ $timeline = $timeline | append (dict "locationName" $val.Params.locationName "locationEmoji" $val.Params.locationEmoji "path" $val.RelPermalink) }}
    {{ end }}
  {{ end }}
  {{- partial "worldmap.html" (dict "pins" $pins) }}

  {{- partial "timeline.html" (dict "timeline" $timeline) }}


  <h2 class="section-title">Les derniers articles</h2>
  {{ $posts := (where .Site.RegularPages.ByDate.Reverse "Type" "trip") }}
  {{- partial "posts.html" (dict "context" . "pages" $posts) }}
{{ end }}

{{ define "extraimports" }}
  {{ partial "leaflet.html" . }}
{{ end }}
