{{ if not (isset .Params "images") }}
    {{ errorf "Failed to handle page %q. Missing 'images' param in the front-matter" .Path }}
{{ end }}

{{ if (eq (.Params.images | len) 0)}}
    {{ errorf "Failed to handle page %q. 'images' param is an empty list" .Path}}
{{ end }}

{{ $images := .Params.images}}

{{ $firstImage := index $images 0}}

<div class="gallery-photo-container pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
    <div class="gallery-photo">
        <a href="{{.Permalink}}">
            {{ partial "img.html" (dict "resource" (.Page.Resources.GetMatch $firstImage)) }}
        </a>
    </div>
</div>
