{{ $latlon := .latlon }}
{{ $zoomLevel := (default 13 .zoomLevel) }}
{{ $id := (default "map" .mapId) }}
<script>
  var map = L.map({{ $id }}, {
  zoomControl: false,
  dragging: false,
  doubleClickZoom: false,
  boxZoom: false,
  scrollWheelZoom: false
});

L.tileLayer('https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}{r}.png', {
	attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors &copy; <a href="https://carto.com/attributions">CARTO</a>',
	subdomains: 'abcd',
}).addTo(map);

map.setView([{{$latlon | safeJS}}], {{$zoomLevel | safeJS}});

</script>
